In [1]:
#!pip install kaggle

In [5]:
!kaggle competitions download -c titanic

Downloading titanic.zip to o:\Estudios_python_types


  0%|          | 0.00/34.1K [00:00<?, ?B/s]
100%|██████████| 34.1K/34.1K [00:00<00:00, 110KB/s]

In [6]:
import zipfile as zf 
files = zf.ZipFile("titanic.zip",'r')
files.extractall('dataset')
files.close()

In [7]:
! del titanic.zip

In [1]:
import pandas as pd 
df = pd.read_csv('dataset/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
print(df.columns)
print(df.info())

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

## Analisis de muestras sobre un Dataframe con df.groupby().__iter__()

usualmente es complicado explorar un conjunto de datos linea por linea, Si uno compara con Excel. Un truco bastante bueno es utilizar ctrl + Enter (comando) de manera de iterar una vista diferente en cada acción del comando.

Vamos a crear un generador con groupby() <br>
generador = df.groupby(['identificador'])."__iter__"

Posteriormente vamos a seleccionar el Grupo y vamos a iterar sobre este grupo.<br>
grupo_id, grupo_data = generador."__next()__"

se imprime el Grupo y los Datos

In [4]:
tickets_compartidos_con_2_o_mas = df['Ticket'].value_counts().loc[
    (df['Ticket'].value_counts()>2)
    ].index.to_list()

In [5]:
# vamos a crear el generador para poder iterar a traves de lo tickets
generator = df.loc[df['Ticket'].isin(tickets_compartidos_con_2_o_mas)].groupby('Ticket').__iter__()

In [28]:
# Se mira a de manera individual por cada Grupo usando control + Enter
group_id, group_data = generator.__next__()
print(group_id)
group_data

363291

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.0,0,2,363291,20.525,NaN,S
328,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1,1,363291,20.525,NaN,S
548,549,0,3,"Goldsmith, Mr. Frank John",male,33.0,1,1,363291,20.525,NaN,S

In [ ]:
## Combinación de multiples operaciones usando una cadea de metodos