## Estudios Python
Este desarrollo se encuentra desarrollado sobre Python 3.7.0 <br>
Ademas el [autor original en ingles](http://ryankresse.com/convenient-preprocessing-with-sklearn_pandas-dataframemapper/)

Contenidos:<br>
1.- [Introducción](#seccion00) <br>
2.- [ajuste y Transformación ](#seccion01)<br>
3.- [Guardar y Reutilizar ](#seccion02)<br>
Conveniente prepocesamiento de datos usando [sklearn_pandas](https://github.com/scikit-learn-contrib/sklearn-pandas) -> DataFrameMapper

<a id='seccion00'></a>
## Introduccion 

Siempre antes de poder ajustar un modelo estadistico, uno tienen la necesidad de preprocesar la información. Como ejemplo encode, standarizar, etc... Pare ello existe un conjunto de librerias que se encuentran en scikit-learn modulo de preprocesamiento. Sin embargo una vez que el manejo de la infomción para el entrenamiento. Puede ser muy tedioso en el paso a la información de Test. <br> Acá es donde aparece el uso de la libreria de DataFrameMapper de sklear_pandas la cual nos entrega una transformación de variables más sencilla.

<a id='seccion01'></a>
## Ajuste y Transformación de Datos

sklearn_pandas se puede interpretar como un puente en entre metodos ML de scikit-learn y los dataFrames de Pandas. En el contexto la clase DataFrameMapper utilizara un DataFrame de pandas y la preprocesaremos con un modulo de sklearn.preprocessing. Vamos a utilizar la base *Carseat sales* de kaggle

In [77]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (from kaggle) (1.23)
Requirement already satisfied: six>=1.10 in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (from kaggle) (2018.8.24)
Requirement already satisfied: python-dateutil in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (from kaggle) (2.7.3)
Requirement already satisfied: requests in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (from kaggle) (4.45.0)
Requirement already satisfied: python-slugify in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (from kaggle) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (from requests->kaggle) (2.7)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\rvill\appdata\local\programs\python\python37\lib\site-packages (from python-slugify->kaggle) (1.3)

In [78]:
!kaggle datasets download -d huhao05133/carseats

Downloading carseats.zip to O:\Estudios_python_types

  0%|          | 0.00/5.98k [00:00<?, ?B/s]
100%|██████████| 5.98k/5.98k [00:00<00:00, 6.04MB/s]

In [79]:
import zipfile as zf 

files = zf.ZipFile("carseats.zip",'r')
files.extractall('dataset')
files.close()

In [80]:
#!del carseats.zip

In [81]:
#!pip install sklearn-pandas

In [82]:
import numpy as np
import pandas as pd 
from sklearn_pandas import DataFrameMapper
df =pd.read_csv('dataset/Carseats.csv', index_col=0)
df.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
Sales,,,,,,,,,,
9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
11.22,111,48,16,260,83,Good,65,10,Yes,Yes
10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4.15,141,64,3,340,128,Bad,38,13,Yes,No

### Vamos a simular que tenemos un dataset de entrenamiento y un dataset de Test.

In [97]:
train = df.iloc[:-50, :].copy()
test  =df.iloc[-50:,:].copy()
test.loc[:, 'Sales'] = 0

test.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Sales
Sales,,,,,,,,,,,
8.64,111,101,17,266,91,Medium,63,17,No,Yes,0
10.44,124,115,16,458,105,Medium,62,16,No,Yes,0
13.44,133,103,14,288,122,Good,61,17,Yes,Yes,0
9.45,107,67,12,430,92,Medium,35,12,No,Yes,0
5.30,133,31,1,80,145,Medium,42,18,Yes,Yes,0

Vamos a prepocesar el Dataset. <br>
primero vamos a standarizar las columnas continuas y etiquetar los encode (las que son del tipo categoria)
Vamos a ingresar el tipo de preprocesamiento que deseamos ingresar a la clase DataFrameMapper y la vamos a solicitiar como DataFrame en vez de un numpy array cuando se ejecute la transformación.

In [84]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
column_tuples = [
    (['CompPrice'], [StandardScaler()]),
    (['Income'], [StandardScaler()]),
    (['Advertising'], [StandardScaler()]),
    (['Population'], [StandardScaler()]),
    (['Price'], [StandardScaler()]),
    (['ShelveLoc'], [LabelEncoder()]),
    (['Age'], [StandardScaler()]),
    (['Education'], [StandardScaler()]),
    (['Urban'], [LabelEncoder()]), 
    (['US'], [LabelEncoder()])
]

mapper = DataFrameMapper(column_tuples, df_out=True)

In [85]:
mapper_fit = mapper.fit(train)
train_processed = mapper.transform(train)
train_processed.head()

C:\Users\rvill\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\rvill\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\rvill\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\rvill\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
Sales,,,,,,,,,,
9.50,0.868931,0.147898,0.705540,0.070570,0.182289,0,-0.695732,1.170083,1,1
11.22,-0.890151,-0.749541,1.471004,-0.038119,-1.384165,1,0.720360,-1.459920,1,1
10.06,-0.759849,-1.216210,0.552447,0.023019,-1.511175,2,0.350945,-0.708491,1,1
7.40,-0.499244,1.117133,-0.366111,1.361253,-0.791452,2,0.104668,0.042939,1,1
4.15,1.064384,-0.175180,-0.519204,0.505327,0.520982,0,-0.942009,-0.332776,1,0

### Como se puede observar en la salidas se encuentra el dataframe de Inicio (con Sales incluido) y todas las variables que se preprocesaron

In [86]:
mapper.transform(test).head()

C:\Users\rvill\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\rvill\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
Sales,,,,,,,,,,
8.64,-0.890151,1.153030,1.624097,0.002640,-1.045472,2,0.597222,1.170083,0,1
10.44,-0.043186,1.655596,1.471004,1.306909,-0.452760,2,0.535652,0.794368,0,1
13.44,0.543175,1.224825,1.164818,0.152087,0.266962,1,0.474083,1.170083,1,1
9.45,-1.150756,-0.067487,0.858632,1.116703,-1.003135,2,-1.126717,-0.708491,0,1
5.30,0.543175,-1.359800,-0.825389,-1.260871,1.240704,2,-0.695732,1.545798,1,1

<a id='seccion02'></a>
## Guardar y Reutilizar

Si en algun momento se desea crear el *mapper* y reutilizarlo en otro proceso o codigo. Este se puede almacenar y posteriormente leer

In [87]:
import pickle
column_tuples = [
  #  (['Sales'], None),
    (['ShelveLoc'], [LabelEncoder()]),
    (['Urban'], [LabelEncoder()]), 
    (['US'], [LabelEncoder()])]

mapper = DataFrameMapper(column_tuples, default=StandardScaler())

mapper_fit = mapper.fit(train)

# Almacenar para Despues
pickle.dump(mapper_fit, open('models/fitted_mapper.pkl', 'wb'))

#leer, en otro proceso
mapper_fit = pickle.load(open('models/fitted_mapper.pkl','rb'))

test_processed = mapper.transform(test)

C:\Users\rvill\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\rvill\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [98]:
test_processed[1:10]

array([[ 2.        ,  0.        ,  1.        , -0.04318593,  1.6555964 ,
         1.47100406,  1.3069089 , -0.45275966,  0.53565237,  0.79436829],
       [ 1.        ,  1.        ,  1.        ,  0.54317474,  1.22482543,
         1.16481826,  0.15208712,  0.26696248,  0.47408313,  1.17008301],
       [ 2.        ,  0.        ,  1.        , -1.15075607, -0.06748745,
         0.85863246,  1.11670296, -1.00313541, -1.12671706, -0.70849063],
       [ 2.        ,  1.        ,  1.        ,  0.54317474, -1.35980034,
        -0.82538943, -1.2608713 ,  1.24070419, -0.69573239,  1.54579774],
       [ 1.        ,  1.        ,  0.        ,  0.34772118,  1.11713269,
        -0.97848233,  0.27436236,  1.28304079, -0.69573239, -1.08420536],
       [ 1.        ,  1.        ,  0.        ,  1.1295354 ,  1.44021092,
        -0.97848233, -1.05028615,  2.04509952,  1.15134476, -0.70849063],
       [ 2.        ,  1.        ,  1.        , -1.41136081,  0.14789803,
        -0.51920363,  0.07057029, -1.84986733, -1.1882863 ,  0.41865356],
       [ 0.        ,  1.        ,  1.        , -0.10833711,  0.97354237,
         0.55244666, -1.32200892,  0.09761609,  0.96663704, -1.08420536],
       [ 0.        ,  1.        ,  1.        ,  0.34772118, -0.24697535,
         0.70553956,  0.8857386 ,  0.60565525,  0.78192933,  0.04293883]])